<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
<h4 class="detailTopic">Supplier Information e-System</h4><br>
<p> According to the privacy policy,
  It will be a little different in user interface from the real application.</p>
<div class="row">
  <div class="col-md-5 putMiddle">
    <img src="../../../../assets/esystem_1.jpg" class="esystemPicture">
  </div>
  <div class="col-md-7">
    <div class="esystemPictureDescription">
      <p>There are four part in the application.
        <br>
        1. Collect data from many different excel file to one excel file.
        <br>
        2. Analyze the data and choose the data you need to output one excel file.
        <br>
        3. Predict the data due to previous data.
        <br>
        4. Alert the supplier that need to be notice.
      </p>
    </div>
  </div>
</div>
<hr>
<p class="secondTopic">Part 1. Collect Data</p>
<p>The company has a lot of company and a lot of different excel file to store the data.
  <br>
  The goal of this part is to put the important part of every file of each criteria into one file
  so that the user can easily know where to find the information.
  <br>
  There are three main different file in the company.
  The checklist that be done every year, every quarter and others.
  <br>
  There are 4 main criteria in the year checklist and 3 in the quarter.
  <br>
  Press the choose button to choose the file.
  <br>
  For the different type in the same checklist, you can choose 1 to all file.
  The system will detect it and do the right action.
</p>
<div class="row">
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_2.jpg" class="esystemPicture">
  </div>
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_3.jpg" class="esystemPicture">
  </div>
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_4.jpg" class="esystemPicture">
  </div>
</div>
<hr>
<p class="secondTopic">Part 2. Analyze Data</p>
<p>
  After collecting data, although the data is in one file, it will still hard to find the data
  because there is too many supplier and too many years and quarter.
  <br>
  In this part, you can get the data you are looking for by selecting year/quarter/category/supplier.
  The system will output the information you need into one excel file.
  <br>
  For the risk score, it is a score generate automatically.
  It used all the data including which is checked every year and which is check every quarter.
  After several calculating, it represent the performance of a supplier in the latest year.
</p>
<div class="row">
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_5.jpg" class="esystemPicture">
  </div>
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_6.jpg" class="esystemPicture">
  </div>
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_7.jpg" class="esystemPicture">
  </div>
</div>
<hr>
<p class="secondTopic">Part 3. Predict</p>
<p>
  The function of this part is to predict the future performance of the supplier.
  <br>
  The prediction is also seperated to year and quarter.
  <br>
  Choose the criteria/category/supplier and press the enter to see result.
  <br>
  The result is the prediction of the next time period.
  <br>
  After seeing the result, you can press the output to output the result to an excel file.
  <br>
  The prediction model is generate by Artificial Neural Network.
</p>
<div class="row">
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_8.jpg" class="esystemPicture">
  </div>
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_9.jpg" class="esystemPicture">
  </div>
  <div class="col-md-4 putMiddle">
    <img src="../../../../assets/esystem_10.jpg" class="esystemPicture">
  </div>
</div>
<hr>
<p class="secondTopic">Part 4. Alert</p>
<div class="row">
  <div class="col-md-5 putMiddle">
      <img src="../../../../assets/esystem_11.jpg" class="esystemPicture">
    </div>
    <div class="col-md-7">
      <div class="esystemPictureDescription">
          <p>
              In this part, the data will be mark if it should be notice.
              <br>
              There are several situation (like continuous low-score), 
              I used Alert 1 / Alert 2 / Alert 3 / ...... for demo.
              <br>
              You can output the result to an excel file by pressing output button.u
            </p>
      </div>
    </div>
</div>
<hr>
<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
