<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
<h4 class="detailTopic">Calculator</h4><br>

<div class="row">
  <div class="col-md-12">
    <p>
      It is a very simple calculator that I may use in the normal life.
    </p>
      <img src="../../../../assets/calculator_1.jpg" class="appPicture">
  </div>
</div>



<hr>
<p style="display: inline">If you are interested, please visit </p>
<p style="display: inline"><a href="https://github.com/z2486357/calculator">https://github.com/z2486357/calculator
  </a></p>
<p style="display: inline">for the code.</p><br> <br>
<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
