<div class="row">
  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/bomb_topic.jpg" class="topicPicture putMiddle clickable"
        [routerLink]="['recipeBook']">
    </div>
    <h4 class="workTopic" [routerLink]="['recipeBook']">Bomb!</h4>
    <div class="descriptionPlace">
        <p class="putLeft">This is a game that you need to find all the bomb.
            <br>
            One time wrong, You die!!!</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
  </div>

  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/artgogo_topic.jpg" class="topicPicture putMiddle clickable"
        [routerLink]="['recipeBook']">
    </div>
    <h4 class="workTopic" [routerLink]="['recipeBook']">ArtGoGo!!</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a guide of the public art in National Tsing Hua University.
      <br>
      There is also a little game in it!</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
  </div>

  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/snake_topic.jpg" class="topicPicture putMiddle clickable"
        [routerLink]="['recipeBook']">
    </div>
    <h4 class="workTopic" [routerLink]="['recipeBook']">Snake Game</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a simple game.
      <br>
      You are a snake and you are going to eat fruit as much as possible.</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
  </div>
</div>
<div class="row">
  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/avoid_topic.jpg" class="topicPicture putMiddle clickable"
        [routerLink]="['recipeBook']">
    </div>
    <h4 class="workTopic" [routerLink]="['recipeBook']">Avoid Game</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a game that you need to avoid the wall while the wall will keep coming down.
      <br>
      Go far you get more score!</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
  </div>

  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/calculator_topic.jpg" class="topicPicture putMiddle clickable"
        [routerLink]="['recipeBook']">
    </div>
    <h4 class="workTopic" [routerLink]="['recipeBook']">Calculator</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a very simple calculator.
      <br>
      I think most of the programmers built a calculator when he/she started to write code.</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
  </div>
</div>