<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
<h4 class="detailTopic">Avoid Game</h4><br>

<div class="row">
  <div class="col-md-12">
    <p>
      This is a game that you need to avoid the walls which will keep coming down.
    </p>
      <img src="../../../../assets/avoid_1.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>
      You pass one wall, you get one point.
    </p>
      <img src="../../../../assets/avoid_2.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>
      If you crash on a wall, you lose.
    </p>
      <img src="../../../../assets/avoid_3.jpg" class="appPicture">
  </div>
</div>



<hr>
<p style="display: inline">If you are interested, please visit </p>
<p style="display: inline"><a href="https://github.com/z2486357/avoidgame">https://github.com/z2486357/avoidgame
  </a></p>
<p style="display: inline">for the code.</p><br> <br>
<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
