<div class="row" style="height: 104vh">
  <div class="col-md-3" style="padding: 0">
    <div class="row" style="margin: 0">
      <div class="col-md-4">
        <div class="row" style="height: 52vh"></div>
        <div class="row topline rightline" style="height: 9vh"></div>
        <div class="row topline bottomline rightline" style="height: 17vh"></div>
        <div class="row bottomline rightline" style="height: 26vh"></div>
      </div>
      <div class="col-md-4">
        <div class="row" style="height: 61vh"></div>
        <div class="row topline bottomline rightline" style="height: 17vh"></div>
        <div class="row bottomline" style="height: 10vh"></div>
      </div>
      <div class="col-md-4">
        <div class="row bottomline" style="height: 70vh"></div>
        <div class="row bottomline" style="height: 18vh"></div>
      </div>
    </div>
  </div>

  <div class="col-md-9" style="padding: 0">
    <div class="row" style="margin: 0">
      <div class="col-md-12" style="padding: 0">
        <div class="experienceBox" style="margin-top: 64vh">
          <p class="topic" style="font-size:2.8vh">{{ta.topic}}</p>
          <hr style="margin: 0">
          <div class="row">
            <div class="col-md-9">
              <p class="secondTopic">{{ta.secondTopic}}</p>
              <p class="period">{{ta.period}}</p>
            </div>
            <div class="col-md-3" style="margin-top: 1vh ; text-align: center">
              <button class="btn-xs btn-success" (click)="detailShow('ta')">Detail</button>
            </div>
            <div *ngIf="ta.detail">
              <app-popup [detailShow]="ta" (close)="detailClose('ta')"></app-popup>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row" style="margin: 0">
      <div class="col-md-12" style="padding: 0">
        <div class="experienceBox" style="margin-top: 6vh">
          <p class="topic" style="font-size:2.8vh">{{ms.topic}}</p>
          <hr style="margin: 0">
          <div class="row">
            <div class="col-md-9">
              <p class="secondTopic">{{ms.secondTopic}}</p>
              <p class="period">{{ms.period}}</p>
            </div>
            <div class="col-md-3" style="margin-top: 1vh ; text-align: center">
              <button class="btn-xs btn-success" (click)="detailShow('ms')">Detail</button>
            </div>
            <div *ngIf="ms.detail">
              <app-popup [detailShow]="ms" (close)="detailClose('ms')"></app-popup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: 0vh">
  <div class="col-md-1 topline bottomline rightline" style="height: 87vh">
  </div>
  <div class="col-md-2 bottomline" style="height: 43.5vh">
  </div>

  <div class="col-md-9" style="padding: 0">
    <div class="experienceBox" style="margin-top: 37.5vh">
      <p class="topic" style="font-size:2.8vh">{{bs.topic}}</p>
      <hr style="margin: 0">
      <div class="row">
        <div class="col-md-9">
          <p class="secondTopic">{{bs.secondTopic}}</p>
          <p class="period">{{bs.period}}</p>
        </div>
        <div class="col-md-3" style="margin-top: 1vh ; margin-left: 0">
          <button class="btn-xs btn-success" (click)="detailShow('bs')">Detail</button>
        </div>
        <div *ngIf="bs.detail">
          <app-popup [detailShow]="bs" (close)="detailClose('bs')"></app-popup>
        </div>
      </div>
    </div>
  </div>
</div>