<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
<h4 class="detailTopic">ArtGoGo!!</h4><br>
<p style="display: inline"><a
    href="https://www.youtube.com/watch?v=jMB3o4F3IQE&feature=youtu.be&fbclid=IwAR3JTTHZOkeybHmbfUEucMz8hOR3nAJBzf1Yi06sGJK-0WPXHLYGv_H_hd0">
    You can visit here for vedio demo.</a></p><br> <br>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_1.jpg" class="appPicture">
  </div>
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>This is the start page. There are two parts for the app.
        <br><br>
        The first part is the information of the public art in National Tsing Hua University.
        You can search for the location on the map so that you can know where to visit it.
        <br><br>
        The other part is a little game. After finishing the game, you can get a little reward.
        <br><br>
        The app is built in traditional Chinese because it is a project I did in Taiwan.
      </p>
    </div>
  </div>
</div>
<hr>
<p class="secondTopic">Part 1. Information</p>
<div class="row">
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>This is the first page of the information.
        <br>
        Each red spot represents the position of a public art.
      </p>
    </div>
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_2.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_3.jpg" class="appPicture">
  </div>
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>When you click start searching button, you will see the place you are.
        (Blue spot)
        <br>
        start searching button -><img src="../../../../assets/artgogo_3_1.JPG" style="height: 5vh">
      </p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>Click on the red spot, you can see the name of the public art.
      </p>
    </div>
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_4.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_5.jpg" class="appPicture">
  </div>
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>Click the name of the public art, you can see its detail.
        Including name, picture, description and a go back button.
      </p>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12 putMiddle">
    <p>|-----------------Another Example-----------------|</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_6.jpg" class="appPicture">
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_7.jpg" class="appPicture">
  </div>
</div>
<hr>
<p class="secondTopic">Part 2. Game</p>
<div class="row">
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>This is the first page of the game. It describe the rule of the game.
        <br>
        There will be 10 pictures in the game.
        You need to find out where the picture is and take a same picture.
        <br>
        After finishing all 10 pictures, you can go to the art center to get a gift.
      </p>
    </div>
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_8.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_9.jpg" class="appPicture">
  </div>
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>This is the game page. Press let's go picture and you can start to take picture.
        <br>
        If you have no idea, you can press the hint button for the distance
        between the picture was took and the place you are.
        <br><br>
        let's go picture -> <img src="../../../../assets/artgogo_9_1.JPG" style="height: 10vh">
        <br><br>
        hint button -> <img src="../../../../assets/artgogo_9_2.JPG">
      </p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>After you press the hint button, if you didn't open GPS, it will tell you to open it.
      </p>
    </div>
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_10.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_11.jpg" class="appPicture">
  </div>
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>If you open the GPS and press hint button, it will tell you the distance.
        (The picture is version 1, the display of the distance is XXX.X meter after modifying)
      </p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>After you take a picture, it will give you a score.
        If the score > 80%, then you pass this stage and you can press next button to the next stage.
        <br>
        next stage button -><img src="../../../../assets/artgogo_12_1.JPG" style="height: 5vh">
      </p>
    </div>
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_12.jpg" class="appPicture">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_13.jpg" class="appPicture">
  </div>
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>After finishing all 10 pictures, you can press get the gift button to the confirm page.
        <br>
        get the gift button -><img src="../../../../assets/artgogo_13_1.JPG" style="height: 5vh">
      </p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="appPictureDescription">
      <p>Take this page to the art center and you can get a little gift.
      </p>
    </div>
  </div>
  <div class="col-md-6 putMiddle">
    <img src="../../../../assets/artgogo_14.jpg" class="appPicture">
  </div>
</div>
<hr>
<p style="display: inline">If you are interested, please visit </p>
<p style="display: inline"><a
    href="https://github.com/z2486357/artist">https://github.com/z2486357/artist
  </a></p>
<p style="display: inline">for the code.</p><br> <br>
<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">