<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
<h4 class="detailTopic">Website Blocker</h4><br>
<p>
  This is an application that you can block out some website in the determine time
  (When you are working / When you are not on the seat / When someone borrow your computer / ...... ).
</p>
<hr>
<p class="">1. Declare the website you want to block.</p>
<p class="">2. Determine the time to start and end.</p>
<p class="">3. Let it start automatically when turning on computer by pressing start button.</p>
<div class="row">
  <div class="col-md-12">
      <img src="../../../../assets/webblock_1.jpg" style="max-width:70%">
  </div>
</div>
<hr>
<p style="display: inline">If you are interested, please visit </p>
<p style="display: inline"><a href="https://github.com/z2486357/WebsiteBlocker">https://github.com/z2486357/WebsiteBlocker
  </a></p>
<p style="display: inline">for the code.</p><br> <br>
<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
