<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2019</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox topline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2018</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox topline"></div>
  <div class="col-md-6 leftLineBox topline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox" style="padding: 0">
      <div style="height:4vh"></div>
      <div style="height:1vh ; border-top:1px solid #999"></div>
  </div>
</div>
<div class="row">
  <p class="year">2017</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox bottomline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2016</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox bottomline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox topline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2015</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2014</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox bottomline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2011</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>