<div class="row">
  <div class="col-md-1">
    <p class="year">2019</p>
  </div>
  <div class="col-md-11">
    <hr style="border: 1px solid #AAA">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngIf="enfotech">
      <app-timeline-block [inputExperience]="enfotech"></app-timeline-block>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <p class="year">2018</p>
  </div>
  <div class="col-md-11">
    <hr style="border: 1px solid #AAA">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngIf="military">
      <app-timeline-block [inputExperience]="military"></app-timeline-block>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <p class="year">2017</p>
  </div>
  <div class="col-md-11">
    <hr style="border: 1px solid #AAA">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngIf="liteon">
      <app-timeline-block [inputExperience]="liteon"></app-timeline-block>
    </div>
  </div>
  <div class="col-md-4">
    <div *ngIf="ra">
      <app-timeline-block [inputExperience]="ra"></app-timeline-block>
    </div>
  </div>
  <div class="col-md-4">
    <div *ngIf="ta">
      <app-timeline-block [inputExperience]="ta"></app-timeline-block>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngIf="ms">
      <app-timeline-block [inputExperience]="ms"></app-timeline-block>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <p class="year">2016</p>
  </div>
  <div class="col-md-11">
    <hr style="border: 1px solid #AAA">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <p class="year">2015</p>
  </div>
  <div class="col-md-11">
    <hr style="border: 1px solid #AAA">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngIf="bs">
      <app-timeline-block [inputExperience]="bs"></app-timeline-block>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
    <p class="year">2014</p>
  </div>
  <div class="col-md-11">
    <hr style="border: 1px solid #AAA">
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngIf="manzai">
      <app-timeline-block [inputExperience]="manzai"></app-timeline-block>
    </div>
  </div>
</div>

<br>










<!-- 
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2019</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox topline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2018</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox topline"></div>
  <div class="col-md-6 leftLineBox topline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox" style="padding: 0">
      <div style="height:4vh"></div>
      <div class="topline" style="height:1vh"></div>
  </div>
</div>
<div class="row">
  <p class="year">2017</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox bottomline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2016</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox bottomline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox topline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2015</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox bottomline"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2014</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox bottomline"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div>
<div class="row">
  <p class="year">2011</p>
</div>
<div class="row">
  <div class="col-md-6 rightLineBox"></div>
  <div class="col-md-6 leftLineBox"></div>
</div> -->