<div class="row">
    <div class="col-md-4 putMiddle">
      <hr>
      <div class="pictureBox">
          <img src="../../../assets/board_topic.jpg" class="topicPicture  clickable" [routerLink]="['recipeBook']">
        </div>
        <h4 class="workTopic" [routerLink]="['recipeBook']">Board Reader</h4>
        <div class="descriptionPlace">
            <p class="putLeft">This is a tool that can let the research of my lab easier.
                <br>
                It get the information from picture and find the data record in txt file.</p>
        </div>
      <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
    </div>

    <div class="col-md-4 putMiddle">
        <hr>
        <div class="pictureBox">
            <img src="../../../assets/esystem_topic.png" class="topicPicture  clickable" [routerLink]="['recipeBook']">
          </div>
          <h4 class="workTopic" [routerLink]="['recipeBook']">Supplier Information e-System</h4>
          <div class="descriptionPlace">
              <p class="putLeft">This is an application I built in graduate school.
                  <br>
                  It can help the user to manage their suppliers and risk.</p>
          </div>
        <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
      </div>

      <div class="col-md-4 putMiddle">
          <hr>
          <div class="pictureBox">
              <img src="../../../assets/box_topic.png" class="topicPicture  clickable" [routerLink]="['recipeBook']">
            </div>
            <h4 class="workTopic" [routerLink]="['recipeBook']">Box Counter</h4>
            <div class="descriptionPlace">
                <p class="putLeft">This is a topic from a question of my friend.
                    <br>
                    Its goal is to figure out how many box you need in an order.</p>
            </div>
          <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
        </div>

    
  </div>
  <div class="row">
      <div class="col-md-4 putMiddle">
          <hr>
          <div class="pictureBox">
              <img src="../../../assets/block_topic.png" class="topicPicture  clickable" [routerLink]="['recipeBook']">
            </div>
            <h4 class="workTopic" [routerLink]="['recipeBook']">Website Blocker</h4>
            <div class="descriptionPlace">
                <p class="putLeft">This is an application that can block specific website in specific time. 
                    <br>
                    This is a project from a course on Udemy.</p>
            </div>
          <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
        </div>
        <div class="col-md-4 putMiddle">
            <hr>
            <div class="pictureBox">
                <img src="../../../assets/dictionary.png" class="topicPicture  clickable" [routerLink]="['recipeBook']">
              </div>
              <h4 class="workTopic" [routerLink]="['recipeBook']">Interactive English Dictionary</h4>
              <div class="descriptionPlace">
                  <p class="putLeft">This is an english dictionary. It will tell you the explanation of the world you input.
                      <br>
                      This is a project from a course on Udemy.</p>
              </div>
            <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
          </div>
    
          <div class="col-md-4 putMiddle">
              <hr>
              <div class="pictureBox">
                  <img src="../../../assets/map_topic.png" class="topicPicture  clickable" [routerLink]="['recipeBook']">
                </div>
                <h4 class="workTopic" [routerLink]="['recipeBook']">Web Map</h4>
                <div class="descriptionPlace">
                    <p class="putLeft">This is a map that display on website. You can mark some place for some information 
                        <br>
                        This is a project from a course on Udemy.</p>
                </div>
              <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
            </div>
  </div>