<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10" style="padding: 1vw">
    <p class="topic" style="font-size: 5vh; font-weight: bold;margin-top: 3vh; margin-bottom: 0">Contact Me</p>
    <br>
    <p style="font-size: 2.5vh ; display: inline">
      The website was fully designed and coded by myself. 
      Some of the pictures used were got from the google search 
      which are labeled for commercial reuse with modification. 
      <br>
      If it is still offended your copyright, please let me know. 
      I will take it down as soon as possible. Thank you very much! 
      <br>
      <br>
      If you are interested in my work and have question, 
      please feel free to contact me.
      <br>
      <br>
      Also, I am finding job right now, so if you are interested in me and have any job 
      of Front-End Developer / Website Developer or any other programmer job, please feel 
      free to contact me, too! Thank you very much!
    </p>
    <br>
    <br>
    <div style="font-size: 2.5vh ; padding: 1.5vh; border: 1px solid #DDD ;border-radius:10px">
        <p style="display: inline">Email: z2486357@gmail.com</p>
        <br>
        <p style="display: inline">Github: </p>
        <p style="display: inline"><a href="https://github.com/z2486357">https://github.com/z2486357
          </a></p>
          <br>
          <p style="display: inline">Linkedin: </p>
        <p style="display: inline"><a href="https://www.linkedin.com/in/yu-cheng-chang-26139b165/">
          https://www.linkedin.com/in/yu-cheng-chang-26139b165/
          </a></p>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>