img.button{
    cursor: pointer;
}
img.content{
    max-width: 70vw;
    border: 1px solid silver;
}

img.content2{
    max-width: 32vw;
    border: 1px solid silver;
    display: inline;
}

p.pt-3{
    padding-top: 3vh;
}

.detailTopic{
    margin-top: 3vh;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vh;
    color: rgb(14, 60, 105);
    text-decoration: underline;
    text-align: left
}

.appPicture{
    max-height: 70vh;
}

.appPictureDescription{
    height: 70vh;
    display: table-cell;
    vertical-align: middle;
}

.putMiddle{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.putLeft{
    text-align:left;
}
.putRight{
    text-align:right;
}

.secondTopic{
    margin-top: 3vh;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    color: rgb(48, 78, 107);
    text-align: left
}

.esystemPicture{
    max-height: 28vh;
}
.esystemPictureDescription{
    height: 28vh;
    display: table-cell;
    vertical-align: middle;
}

.boardPictureBox{
    height: 32vh;
    width: 26vw;
    display: table-cell;
    vertical-align: middle;
}
.boardPicture{
    max-width: 26vw;
    max-height: 32vh;

}
.boardFilePictureBox{
    height:65vh;
    width: 25vw;
    display: table-cell;
    vertical-align: middle;
}

.boardFilePicture{
    max-height: 65vh;
}


.boxPictureBox1{
    height:30vh;
    width: 18vw;
    display: table-cell;
    vertical-align: middle;
}


.boxPictureBox2{
    height:35vh;
    width: 50vw;
    display: table-cell;
    vertical-align: middle;
}