img.button{
    cursor: pointer;
}
img.content{
    max-width: 100%;
    border: 1px solid silver;
}

img.content2{
    max-width: 98%;
    border: 1px solid silver;
    display: inline;
}

p.pt-3{
    padding-top: 30px;
}

p.mb-0{
  margin-bottom: 0;
}

.detailTopic{
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(14, 60, 105);
    text-decoration: underline;
    text-align: left
}

.appPicture{
    max-height: 350px;
    max-width: 50%;
}

.appPictureDescription{
    max-height: 700px;
    max-width: 50%;
    margin:0 10px;
}

.putMiddle{
    display:flex;
    justify-content: center;
    align-items: center;
}
.putLeft{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.putLeft{
    text-align:left;
}
.putRight{
    text-align:right;
}

.secondTopic{
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(48, 78, 107);
    text-align: left
}

.esystemPicture{
    max-height: 270px;
    max-width: 95%;
}
.picturePlusContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardPictureBox{
    height: 250px;
    max-width: 100%;
}
.boardPicture{
    max-width: 90%;
    max-height: 250px;
}
.toRightArrow{
    width: 80% ;
    max-height:320px;
}
.boardFilePictureBox{
    height:400px;
    max-width: 100%;
}

.boardFilePicture{
    max-height: 650px;
    max-width: 100%;
}


.boxPictureBox1{
    height:300px;
    max-width: 100%;
}


.boxPictureBox2{
    height:250px;
    max-width: 100%;
}
.dictionaryPictureBox{
    height:250px;
    max-width: 100%;
}
.dictionaryPicture{
    max-height: 100%;
    max-width: 100%;
}
.dictionaryPictureDescription{
    height: 250px;
    justify-content: flex-start;
}

.webmapPicture{
    max-width: 75%;
    border: 1px solid;
}

.bombDescription{
    height: 50px;
    display: table-cell;
    vertical-align: bottom;
}
