<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
<h4 class="detailTopic">Web Map</h4><br>
<p>
  This is a html file that generated and coded by python.
  <br>
  It is a world map and have some functions.
</p>
<hr>
<p>
  You can put some different pin on it. Also, change attribute due to some criteria.
  (Change color due to height in this case.)
</p>
<div class="row">
  <div class="col-md-12">
    <img src="../../../../assets/webmap_1.JPG" class="webmapPicture">
  </div>
</div>
<br><br>
<p>You can color the map according to different criteria. (Population in this case.)</p>
<div class="row">
  <div class="col-md-12">
    <img src="../../../../assets/webmap_2.JPG" class="webmapPicture">
  </div>
</div>
<br><br>
<p>And you can put all these into the options so that you can turn on and off at any time.</p>
<div class="row">
  <div class="col-md-12">
    <img src="../../../../assets/webmap_3.JPG" class="webmapPicture">
  </div>
</div>
<br><br>
<p>Also you can pop up some information when you click the pin. (Height of the volcano in this case.)</p>
<div class="row">
  <div class="col-md-12">
    <img src="../../../../assets/webmap_4.JPG" class="webmapPicture">
  </div>
</div>
<br>




<hr>
<p style="display: inline">If you are interested, please visit </p>
<p style="display: inline"><a
    href="https://github.com/z2486357/Webmap">https://github.com/z2486357/Webmap
  </a></p>
<p style="display: inline">for the code.</p><br> <br>
<img src="../../../../assets/back_button.jpg" class="button" style="height: 100px" [routerLink]="['../']">
