<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
<h4 class="detailTopic">Posts Board</h4>
<p class="pt-3 mb-0">You can find the code on <span><a href="https://github.com/z2486357/Post-Board-MEAN-stack">https://github.com/z2486357/Post-Board-MEAN-stack</a></span></p>
<p class="pt-3">This project was coded in MEAN stack, which is the combination of MongoDB, Express, Angular and Node.js.</p>
<hr style="margin-bottom:0 ;">

<p class="pt-3">First, when you enter the website, you will see the existing posts.</p>
<img src="../../../../assets/postsBoard_1.jpg" class="content">
<p class="pt-3">You can click it to see the detail of the post but you can not do anything to it because you are not authorized.</p>
<img src="../../../../assets/postsBoard_2.jpg" class="content">
<p class="pt-3">You can also change the number of the post displayed in a page. </p>
<img src="../../../../assets/postsBoard_3.jpg" class="content">
<p class="pt-3">If you didn't have an account, you have to sign up to get one for more function.</p>
<img src="../../../../assets/postsBoard_4.jpg" class="content">
<p class="pt-3">Then you can login to your account.</p>
<img src="../../../../assets/postsBoard_5.jpg" class="content">
<p class="pt-3">If you are the creator of the post, you can edit or delete it.</p>
<img src="../../../../assets/postsBoard_6.jpg" class="content">
<p class="pt-3">Press the edit button and you can enter to the detail of the post and edit it.</p>
<img src="../../../../assets/postsBoard_7.jpg" class="content">
<p class="pt-3">And the delete button for deleting the post.</p>
<img src="../../../../assets/postsBoard_8.jpg" class="content">
<p class="pt-3">Or you can press the "New Post" button on the top right corner to generate new post.</p>
<img src="../../../../assets/postsBoard_9.jpg" class="content">
<p class="pt-3">If you login as a different user.</p>
<img src="../../../../assets/postsBoard_10.jpg" class="content">
<p class="pt-3">You can't edit or delete the post which was not created by you.</p>
<img src="../../../../assets/postsBoard_11.jpg" class="content">

<p class="pt-3">There are also some others function like validation of the post and user sign up. Please go to the website below and try it yourself!</p>


<hr>
<p class="mb-0">If you are interested, please visit <span><a href="https://github.com/z2486357/Post-Board-MEAN-stack">https://github.com/z2486357/Post-Board-MEAN-stack</a></span> for the code.</p>
<p>Also, you can visit this web application on <span><a href="http://mean-project-angular-node.s3-website.us-east-2.amazonaws.com/">http://mean-project-angular-node.s3-website.us-east-2.amazonaws.com/</a></span> to try it yourself</p>

<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
