<div class="row">
  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/postsBoard_title.jpg" class="topicPicture  clickable" [routerLink]="['postsBoard']">
    </div>
    <h4 class="workTopic" [routerLink]="['postsBoard']">Posts Board</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a project of a course on Udemy.
        <br>
        It is a board that you can post something on it. Also, you can edit or delete the post you post.</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['postsBoard']">Detail</button>
  </div>

  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/recipeBook_title.jpg" class="topicPicture  clickable" [routerLink]="['recipeBook']">
    </div>
    <h4 class="workTopic" [routerLink]="['recipeBook']">Recipe Book & Shopping list</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a project of a course on Udemy.
        <br>
        It can record your recipes to database. Also, there are some very good function.</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['recipeBook']">Detail</button>
  </div>

  <div class="col-md-4 putMiddle">
    <hr>
    <div class="pictureBox">
      <img src="../../../assets/movieInformation_title.jpg" class="topicPicture  clickable" [routerLink]="['movieInformation']">
    </div>
    <h4 class="workTopic" [routerLink]="['movieInformation']">Movie Information</h4>
    <div class="descriptionPlace">
      <p class="putLeft">This is a project that show the information of the movie.
        The API and data used in this application was from the website
        "The Movie Database" https://www.themoviedb.org/</p>
    </div>
    <button class="btn btn-primary" [routerLink]="['movieInformation']">Detail</button>
  </div>
</div>
