.putMiddle{
    text-align:center;
    display: table-cell;
    vertical-align: middle;
}
.putLeft{
    text-align:left;
}
.putRight{
    text-align:right;
}


.experienceBox{
    border-style: outset;
    border-radius: 10px;
}


.year{
    height: 60px;
    font-size: 40px;
    color: #AAA;
    /* border: 1px solid #DDD; */
    margin-bottom: 0;
}

.rightLineBox{
    height: 50px;
    border-right: 1px solid #DDD;
}

.leftLineBox{
    height: 50px;
    border-left: 1px solid #DDD;
}

.bottomline{
    border-bottom: 1px solid #DDD;
}
.topline{
    border-top: 1px solid #DDD;
}
.leftline{
    border-left: 1px solid #DDD;
}
.rightline{
    border-right: 1px solid #DDD;
}

.topic{
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
    color: darkcyan;
    text-decoration: underline;
    text-align: left;
    margin: 20px;
    margin-bottom: 0
}

.secondTopic{
    font-size: 20px;
    margin: 0;
}

.period{
    font-size: 20px;
    margin: 0;
}

.profileChoose{
    background-color: gray ;
    color: white;
}

button.profileTitle{
    width: 300px;
}

.workTopic{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
}

.workSecondTopic{
    margin-bottom: 0;
}

.workPeriod{
    margin-bottom: 0;
}

.workDescription{
    display: inline;
}

.clickable{
    cursor: pointer;
}

.detailButton{
    margin: 0;
    height: 30px;
    background-color: #AAA;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
}
