<div class="row">
  <div class="col-md-5">

    <div class="row" style="height: 26vh">
      <div class="col-md-9" style="padding: 0">
        <div class="experienceBox">
          <p class="topic">Programmer Analyst</p>
          <hr style="margin: 0">
          <p class="seconTopic">Enfotech</p>
          <p class="period">04.2019 - 07.2019</p>
        </div>
      </div>
      <div class="col-md-3 bottomline" style="height: 5vh"></div>
    </div>
    <div class="row" style="height: 26vh">
      <div class="col-md-9" style="padding: 0">
        <div class="experienceBox" style="margin-top: 7vh">
          <p class="topic" style="font-size:2.7vh">Alternative military service</p>
          <hr style="margin: 0">
          <p class="seconTopic">Chiayi City Government</p>
          <p class="period">08.2017 - 08.2018</p>
        </div>
      </div>
      <div class="col-md-2 bottomline" style="height: 13vh">
      </div>
      <div class="col-md-1 topline bottomline leftline" style="height: 26vh">
      </div>
    </div>
    <div class="row" style="height: 52vh">
      <div class="col-md-9" style="padding: 0">
        <div class="row" style="margin: 0">
          <div class="col-md-12" style="padding: 0">
            <div class="experienceBox" style="margin-top: 7vh">
              <p class="topic">Intern</p>
              <hr style="margin: 0">
              <p class="seconTopic">Liteon</p>
              <p class="period">11.2015 - 08.2017</p>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0">
          <div class="col-md-12" style="padding: 0">
            <div class="experienceBox" style="margin-top: 14vh">
              <p class="topic">Research Assitant</p>
              <hr style="margin: 0">
              <p class="seconTopic">National Tsing Hua University</p>
              <p class="period">07.2015 - 08.2017</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="padding: 0">
        <div class="row" style="margin: 0">
          <div class="col-md-4">
            <div class="row bottomline" style="height: 12vh"></div>
            <div class="row bottomline" style="height: 27vh"></div>
          </div>
          <div class="col-md-4">
            <div class="row bottomline leftline topline" style="height: 39vh"></div>
            <div class="row bottomline leftline" style="height: 8vh"></div>
          </div>
          <div class="col-md-4">
            <div class="row bottomline leftline topline" style="height: 47vh"></div>
            <div class="row bottomline leftline " style="height: 5vh"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9" style="padding: 0">
        <div class="experienceBox" style="margin-top: 20vh">
          <p class="topic">Summer Intern</p>
          <hr style="margin: 0">
          <p class="seconTopic">Manzai Industry</p>
          <p class="period">07.2014 - 08.2014</p>
        </div>
      </div>
      <div class="col-md-3 bottomline" style="height: 26vh"></div>
    </div>
  </div>
  <div class="col-md-2 putMiddle">
    <app-timeline></app-timeline>
  </div>




  <div class="col-md-5">
    <div class="row" style="height: 104vh">
      <div class="col-md-3" style="padding: 0">
        <div class="row" style="margin: 0">
          <div class="col-md-4">
            <div class="row" style="height: 52vh"></div>
            <div class="row topline rightline" style="height: 9vh"></div>
            <div class="row topline bottomline rightline" style="height: 17vh"></div>
            <div class="row bottomline rightline" style="height: 26vh"></div>
          </div>
          <div class="col-md-4">
            <div class="row" style="height: 61vh"></div>
            <div class="row topline bottomline rightline" style="height: 17vh"></div>
            <div class="row bottomline" style="height: 10vh"></div>
          </div>
          <div class="col-md-4">
            <div class="row bottomline" style="height: 70vh"></div>
            <div class="row bottomline" style="height: 18vh"></div>
          </div>
        </div>
      </div>

      <div class="col-md-9" style="padding: 0">
          <div class="row" style="margin: 0">
              <div class="col-md-12" style="padding: 0">
                <div class="experienceBox" style="margin-top: 64vh">
                  <p class="topic" style="font-size:2.8vh">Teaching Assistant</p>
                  <hr style="margin: 0">
                  <p class="seconTopic">National Tsing Hua University</p>
                  <p class="period">09.2016 - 01.2017</p>
                </div>
              </div>
            </div>



        <div class="row" style="margin: 0">
          <div class="col-md-12" style="padding: 0">
            <div class="experienceBox" style="margin-top: 6vh">
              <p class="topic" style="font-size:2.8vh">Master's Degree</p>
              <hr style="margin: 0">
              <p class="seconTopic">National Tsing Hua University</p>
              <p class="period">07.2015 - 08.2017</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="height: 0vh">
      <div class="col-md-1 topline bottomline rightline" style="height: 87vh">
      </div>
      <div class="col-md-2 bottomline" style="height: 43.5vh">
      </div>

      <div class="col-md-9" style="padding: 0">
        <div class="experienceBox" style="margin-top: 37.5vh">
          <p class="topic" style="font-size:2.8vh">Bachelor's Degree</p>
          <hr style="margin: 0">
          <p class="seconTopic">National Tsing Hua University</p>
          <p class="period">09.2011 - 06.2015</p>
        </div>
      </div>
    </div>
  </div>
</div>