.backdrop{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.alert-box{
    position: fixed;
    /* display: grid; */
    top: 100px;
    left: 50%;
    margin-left: -376px;
    width: 752px;
    max-height: 75%;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    overflow-y: scroll;
}

.resumeImg{
    width: 100%;
}


.alert-box-actions{
    text-align: center;
}

.btnwidth{
  width: 120px;
}
