<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <img src="../../assets/Resume-1.jpg" class="resumeImg">
  <hr>
  <img src="../../assets/Resume-2.jpg" class="resumeImg">
  <!-- Close Button -->
  <div class="alert-box-actions">
    <button class="btn btn-primary btnwidth" (click)="download()" style="margin-top: 20px">Download</button>
    <button class="btn btn-primary btnwidth" (click)="onClose()" style="margin-left: 100px;margin-top: 20px">Close</button>
  </div>

</div>
