<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
<h4 class="detailTopic">Movie Information</h4>
<p class="pt-3 mb-0">You can visit this web application on <span><a href="http://movie-information-angular.s3-website.us-east-2.amazonaws.com/">http://movie-information-angular.s3-website.us-east-2.amazonaws.com/</a></span></p>
<p>Also, you can find the code on <span><a href="https://github.com/z2486357/MoviePost">https://github.com/z2486357/MoviePost</a></span></p>
<p class="pt-3">This project was coded in Angular. The API and data used in this application was from the website "The Movie Database" <a href="https://www.themoviedb.org/">https://www.themoviedb.org/</a></p>
<hr style="margin-bottom:0 ;">

<p class="pt-3">When you enter the website, you will see the popular movies of the time. Including its poster, overview and some information.</p>
<img src="../../../../assets/movieInformation_1.jpg" class="content">
<p class="pt-3">If you click the post, you can enter to the detail of the movie.</p>
<img src="../../../../assets/movieInformation_2.jpg" class="content">
<p class="pt-3">At the bottom, there are some movies which are similar to this movie. Click it and you can enter the detail of the chosen movie.</p>
<img src="../../../../assets/movieInformation_3.jpg" class="content">
<p class="pt-3">You can search the target movie by using the search bar on the top left corner. Press the search button without any input can bring you back to the popular movies.</p>
<img src="../../../../assets/movieInformation_4.jpg" class="content">
<p class="pt-3">You can use the "<" and ">" to change the page.</p>
<img src="../../../../assets/movieInformation_5.jpg" class="content">
<p class="pt-3">Or input the page and press Go button to go to the page you want.</p>
<img src="../../../../assets/movieInformation_6.jpg" class="content">

<hr>
<p class="mb-0">If you are interested, please visit <span><a href="https://github.com/z2486357/MoviePost">https://github.com/z2486357/MoviePost</a></span> for the code.</p>
<p>Also, you can visit this web application on <span><a href="http://movie-information-angular.s3-website.us-east-2.amazonaws.com/">http://movie-information-angular.s3-website.us-east-2.amazonaws.com/</a></span> to try it yourself</p>

<img src="../../../../assets/back_button.jpg" class="button" style="height: 10vh" [routerLink]="['../']">
