<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
  <p class="topic">{{detailShow.topic}}</p>
  <p class="secondTopic">{{detailShow.secondTopic}}</p>
  <p class="period">{{detailShow.period}}</p>
  <hr style="margin: 1vh">
  <div class="descriptionBox">
    <div *ngFor="let item of detailShow.description">
      <p class="description">{{item}}</p>
      <br>
    </div>

    <div *ngIf="detailShow.secondTopic=='Liteon'">
    <p class="description">
        <br>
        For the detail of the system, please visit 
      </p>
      <a class="description clickable" [routerLink]="['/work/supplierInformation']">Supplier Information e-System</a>
    <p class="description"> at my work</p>
      </div>



    <br *ngIf="detailShow.topic=='Research Assitant'">
    <div *ngIf="detailShow.topic=='Research Assitant'"
      style="padding: 1.5vh; border: 1px solid #DDD ;border-radius:10px">
    <p style="font-weight: bold ; margin-bottom: 0">Industry-Academy Cooperation Project</p>
      <hr style="margin: 0">
      <p style="color: cadetblue ; text-decoration: underline;display: inline; font-weight: bold">
        Identifying potential work risk using safety climate technique
        based on the organizational ergonomics approach
      </p>
      <br>
      <p style="display: inline;">07.2015 – 08.2017</p>
      <br>
      <p style="display: inline;">- Collect the data from the company and analyze the potential
        risk to reduce the industrial accident
      </p>
      <br>
      <p style="display: inline;">- Use C# to build a system to collect the data of subjects</p>
      <br>
      <p style="color: cadetblue ; text-decoration: underline;display: inline; font-weight: bold">
        Website development
      </p>
      <br>
      <p style="display: inline;">10.2015 – 06.2017</p>
      <br>
      <p style="display: inline;">- Use HTML, CSS and PHP to build a website</p>
      <br>
      <p style="display: inline;">- </p>      
      <a href="http://www.ulawyer.com.tw/ulawyer/zhitong/index.jsp">
        http://www.ulawyer.com.tw/ulawyer/zhitong/index.jsp
      </a>
    </div>

    <br *ngIf="detailShow.secondTopic=='National Tsing Hua University'"> 
    <div *ngIf="detailShow.secondTopic=='National Tsing Hua University'">
    <p class="description">
        National Tsing Hua University is on of the best unversity in Taiwan. <br>
        Some of the departments in National Tsing Hua University are the top 1 in Taiwan.
      </p>
      <br>
      <img src="../../../assets/NTHU_2.JPG" style="max-width: 40vw">
      <img src="../../../assets/NTHU_1.jpg" style="max-width: 40vw">
      <br>
      <p style="display: inline">If you are interested, please visit </p>
      <p style="display: inline"><a href="https://www.nthu.edu.tw/">https://www.nthu.edu.tw/
        </a></p>
      <br>
      <p style="display: inline">For English website, please visit </p>
      <p style="display: inline"><a href="http://nthu-en.web.nthu.edu.tw/bin/home.php">
          http://nthu-en.web.nthu.edu.tw/bin/home.php
        </a></p>
    </div>
  </div>
  <!-- Close Button -->
  <div class="alert-box-actions">
    <button class="btn btn-primary" (click)="onClose()" style="margin-top: 2vh">Close</button>
  </div>

</div>