.homePicture{
  max-height: 100%;
  max-width: 650px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.homeResume{
  max-height: 650px;
  max-width: 470px;
  cursor: pointer;
}

.border{
  border: 1px solid;
}

.right{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.left{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
