<div class="row">
  <div class="col-md-12" style="text-align: center">
    <img src="../../assets/home_0.jpg" class="homePicture" (click)="cvOpen()">
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: center">
    <img src="../../assets/home_1.jpg" class="homePicture" [routerLink]="['/profile']">
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="text-align: center">
    <img src="../../assets/home_2.jpg" class="homePicture" [routerLink]="['/work']">
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <hr>
    <p style="display: inline">Github: </p>
    <p style="display: inline"><a href="https://github.com/z2486357">https://github.com/z2486357
      </a></p>
      <br>
      <p style="display: inline">Linkedin: </p>
    <p style="display: inline"><a href="https://www.linkedin.com/in/yu-cheng-chang-26139b165/">
      https://www.linkedin.com/in/yu-cheng-chang-26139b165/
      </a></p>
  </div>
  <div class="col-md-2"></div>
</div>
<div *ngIf="cvpop">
  <app-cvpopup (close)="cvClose()"></app-cvpopup>
</div>
